@import "tailwindcss";

@theme {
  --color-secondary: oklch(0.6305 0.134 250.79); /* #438DD7 blue */
  --color-primary: oklch(0.1908 0.0135 187.55); /* ##0d1615  */
  --color-background: oklch(0.9811 0.0096 189.07); /* #F2FBFA white */
  --color-light-blue: oklch(0.9329 0.0364 194.42); /* #CEF1F0 light blue */
  --color-blue: oklch(0.7948 0.0862 212.84); /* #76CBDD  blue */
  --color-pink: oklch(0.8622 0.0827 314.36); /* #E6C2F8  pink */
  --color-red: oklch(0.5992 0.2385 27.84); /* #ED131A  red */
  --color-accent: oklch(0.5316 0.1797 142.69); /* #008404 green */
  --font-caveat: "Caveat";
  --font-roboto: "Roboto Flex";
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100%;
}
body {
  background-color: var(--color-background);
  color: var(--color-primary);
}
